<div>
  <h1>otp works!</h1>

  <div #inputs>
    <input type="text" [maxLength]="1" (input)="searchNext(0)"/>
    <input type="text" [maxLength]="1" (input)="searchNext(1)"/>
    <input type="text" [maxLength]="1" (input)="searchNext(2)"/>
    <input type="text" [maxLength]="1" (input)="searchNext(3)"/>
    <input type="text" [maxLength]="1" (input)="searchNext(4)"/>
    <input type="text" [maxLength]="1" (input)="searchNext(5)"/>
  </div>

  <button (click)="verifyOtp()">
    Enviar otp
  </button>
</div>
